<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .video-player{
            height:100vh;
            width:100%;
            background:#6A1B4D;
            display: flex;
           justify-content: center;
           align-items: center;
        }
        .video_exp{
            border:1px solid yellow;
        }
        
    </style>
<body>
    


<div class="video-player">
<video controls class="video_exp" width="80%" height="80%">
  <source src="/uploads/<%=movie.video%>" type="video/mp4">

</video>

<div>
<script>
   
</script>



</body>

</html>